<aside class="main-sidebar">
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar" style="height: auto;">
        <!-- Sidebar user panel -->
        <div class="user-panel">
            <div class="pull-left image">
                <img src="assets/img/user.png" class="img-circle" alt="User Image">
            </div>
            <div class="pull-left info">
                <p>{{usuario.nombre}} {{usuario.apellido}}</p>
                <a href="#"><i class="fa fa-circle text-success"></i> Online</a>
            </div>
        </div>
        <!-- search form -->
        <form action="#" method="get" class="sidebar-form">
            <div class="input-group">
                <input type="text" name="q" class="form-control" placeholder="Search...">
                <span class="input-group-btn">
                <button type="submit" name="search" id="search-btn" class="btn btn-flat">
                  <i class="fa fa-search"></i>
                </button>
              </span>
            </div>
        </form>
        <!-- /.search form -->
        <!-- sidebar menu: : style can be found in sidebar.less -->

        <ng-material-multilevel-menu [configuration]='config' [items]='menuArreglo' (selectedItem)="selectedItem($event)">
        </ng-material-multilevel-menu>

        <!--<ul class="sidebar-menu tree menu" data-widget="tree" routerLinkActive="active menu-open" [pintarMenu]="menuService.menuObs$ | async">
             Menu 
        </ul>-->

        <!--<ul _ngcontent-lwu-c2="" class="sidebar-menu tree menu" data-widget="tree" ng-reflect-pintar-menu="[object Object],[object Object">
            <li title="Admin" aria-label="Admin" class="treeview menu-open" style="height: auto;"><a href="#"><i class="fab fa-slack-hash"></i> <span>Admin</span> <i class="fa fa-angle-left pull-right"></i></a>
                <ul class="treeview-menu" style="display: block;">
                    <li title="Gestor Menu" aria-label="Gestor Menu"><a [routerLink]="['/gestor-menu']"><i class="fas fa-dot-circle"></i>Gestor Menu</a></li>
                </ul>
            </li>
        </ul>-->

    </section>
    <!-- /.sidebar -->
</aside>